[href="https://www.youtube.com/"]{

    color: rgb(180, 135, 0);
}
[href="https://validator.w3.org/"]{
    color: rgb(0, 176, 18);
    text-decoration: none;
}
ul + p{
    font-size: 24px;
    color: rgb(204, 0, 207);
}
ul {
    list-style: none;
}
[href="https://www.youtube.com/"] {
    text-decoration: none;
}

.head {
    color: blueviolet;
}